.idea
*.iml

# IntelliJ
*/out/**
*/logs/**
logs/**
*/target/**

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

#Eclipse Configuration Files
/.project
/.settings
*/.settings
*.classpath
*.project
*.orig
application.log
